@import "https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap";
* {
  margin: 0%;
  padding: 0%; }

.tamLogo {
  width: 120px; }

.navbar .container-fluid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: 2px black solid;
  background-color: #AE847E;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  list-style-type: none; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #DAA89B;
  color: black;
  font-family: "Roboto Mono", monospace; }

h3 {
  color: #2C514C;
  font-family: "Roboto Mono", monospace;
  font-style: italic solid;
  padding: 10px; }

.tituloPrincipal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: 2px black solid;
  background-color: #DAA89B;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace; }

.textoNosotras {
  margin: 15px;
  padding: 15px;
  color: black;
  font-family: "Roboto Mono", monospace; }

.card-title {
  color: #2C514C;
  font-family: "Roboto Mono", monospace;
  font-weight: bolder; }

.card-text {
  color: black;
  font-family: "Roboto Mono", monospace; }

.tituloEnvios {
  color: #2C514C;
  font-family: "Roboto Mono", monospace;
  font-style: italic solid;
  padding: 15px; }

.textoEnvios {
  color: black;
  font-family: "Roboto Mono", monospace;
  padding: 10px; }

.tituloCrea {
  color: #2C514C;
  font-family: "Roboto Mono", monospace;
  font-style: italic solid;
  padding: 15px; }

.textoCrea {
  color: black;
  font-family: "Roboto Mono", monospace;
  padding: 10px; }

.texModal {
  font-family: "Roboto Mono", monospace;
  color: black; }

.instagram {
  color: black;
  font-family: "Roboto Mono", monospace;
  text-decoration: none; }

.card-img-top:hover {
  filter: grayscale(100%); }

.ubicacion {
  border-radius: 4px; }

.form-check {
  color: black;
  font-family: "Roboto Mono", monospace;
  padding: 10px; }

.list-group {
  margin: 15px;
  padding: 15px; }

.list-group-item {
  color: black;
  font-family: "Roboto Mono", monospace;
  border: 0; }

#contacto {
  margin-bottom: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
  font-style: italic; }

.formulario {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100vw; }

.campo {
  display: block;
  width: 80%;
  padding: 10px;
  margin: 10px auto; }

.botonForm {
  color: black;
  background-color:#AE847E;
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  width: 200px;
  margin: auto;}

.colorBoton {
  background-color: #AE847E;
  width: 200px;
  font-family: "Roboto Mono", monospace;
  color: black; }

.botonWhatsApp img {
  width: 70px;
  position: fixed;
  bottom: 10px;
  right: 10px; }
